<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <title>Product App</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>

        <div class="nav-bar"></div>
        <div id="app">
            <div class="cart">
                <p>🛒({{ cart }})</p>
            </div>
            
            <div class="product">

                <div class="product-image">
                    <img :src="image" :alt="altText" /> 
                </div>
                
                <div class="product-info">
                    <h1>{{ product }}</h1>
                    <p v-if="inventory > 10">In Stock</p>
                    <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out!</p>
                    <p v-else>Out of stock</p>
                    <p v-show="showDetails"> {{ product + ' are ' + description }} </p>
                    
                    <ul>
                        <li v-for="detail in details"> {{ detail }} </li>
                    </ul>
                    <ul v-show="showSize">
                        <li v-for="size in sizes">{{ size }}</li>
                    </ul>
                    <div v-for="variant in variants" :key="variant.variantId">
                        <p @mouseover="updateProduct(variant.variantImage)">
                             {{ variant.variantColor }} 
                        </p>
                    </div>
                    <div class="buttons">
                        <button @click="addToCart">Add to 🛒</button>
                        <button @click="removeFromCart" v-if="cart > 0">Remove from 🛒</button>
                        <button v-on:click="emptyCart" v-if="cart > 0">Empty 🛒</button>
                    </div>
                    <span v-show="onSale">On Sale! </span>
                    <!-- v:show  - For conditional elements that are usually toggled on and off, you can use v-show instead of v-if / v-else. It adds or removes the CSS property display: none to the element
                    You can do something like <p v-show="inStock">In Stock</p>-->
                </div>
                <h4 style="text-align:center"><a :href="link"> Daniyar's Github </a></h4>
            </div>     
        </div>
        

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="main.js"></script>
    </body>
</html>